<%- include("partials/header") %>
<h1>
	This is the home page!
</h1>

<img src="//theme.zdassets.com/theme_assets/43400/87a1ef48e43b8cf114017e3ad51b801951b20fcf.jpg">

<%- include("partials/footer") %>